<footer>
    <p>
      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" title="Github">
          <svg><use xlink:href="#icon-github"></use></svg>
        </a>
      {% endif %}
      {% if site.facebook_username %}
        <a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
          <svg><use xlink:href="#icon-facebook"></use></svg>
        </a>
      {% endif %}
      {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
          <svg><use xlink:href="#icon-twitter"></use></svg>
        </a>
      {% endif %}
      {% if site.medium_username %}
        <a href="https://medium.com/@{{ site.medium_username }}" title="Medium">
          <svg><use xlink:href="#icon-medium"></use></svg>
        </a>
      {% endif %}
      {% if site.instagram_username %}
        <a href="https://www.instagram.com/{{ site.instagram_username }}" title="Instagram">
          <svg><use xlink:href="#icon-instagram"></use></svg>
        </a>
      {% endif %}
      {% if site.linkedin_username %}
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
          <svg><use xlink:href="#icon-linkedin"></use></svg>
        </a>
      {% endif %}
    </p>

    {% include links.html %}
     
    <p>
      <span>elphon's</span> remake <svg class="love"><use xlink:href="#icon-heart"></use></svg> of <a href="https://rossener.com" target="_blank" class="creator">Thiago Rossener's jekflix</a>
    </p>
</footer>

{% assign social_count = 0 %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": {{ site.name | jsonify }},
  "description": {{ site.description | jsonify }},
  "url": {{ '/' | prepend: site.baseurl | prepend: site.url | jsonify }},
  "logo": {
      "@type": "ImageObject",
      "url": {{ '/assets/img/icons/mediumtile.png' | prepend: site.baseurl | prepend: site.url | jsonify }},
      "width": 600,
      "height": 315
  },
  "sameAs": [
    {% if site.github_username %}{% if social_count > 0 %},{% endif %}{{ 'https://github.com/' | append: site.github_username | jsonify }}{% assign social_count = social_count | plus: 1 %}{% endif %}
    {% if site.facebook_username %}{% if social_count > 0 %},{% endif %}{{ 'https://www.facebook.com/' | append: site.facebook_username | jsonify }}{% assign social_count = social_count | plus: 1 %}{% endif %}
    {% if site.twitter_username %}{% if social_count > 0 %},{% endif %}{{ 'https://twitter.com/' | append: site.twitter_username | jsonify }}{% assign social_count = social_count | plus: 1 %}{% endif %}
    {% if site.medium_username %}{% if social_count > 0 %},{% endif %}{{ 'https://medium.com/@' | append: site.medium_username | jsonify }}{% assign social_count = social_count | plus: 1 %}{% endif %}
    {% if site.instagram_username %}{% if social_count > 0 %},{% endif %}{{ 'https://www.instagram.com/' | append: site.instagram_username | jsonify }}{% assign social_count = social_count | plus: 1 %}{% endif %}
    {% if site.linkedin_username %}{% if social_count > 0 %},{% endif %}{{ 'https://www.linkedin.com/in/' | append: site.linkedin_username | jsonify }}{% assign social_count = social_count | plus: 1 %}{% endif %}
  ]
}
</script>

<!-- Include the website scripts -->
<script src="{{ '/assets/js/scripts.min.js' | prepend: site.baseurl }}"></script>

<!-- Include extra scripts -->
{% include extra-js.html %}
